# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TOOL_Demo\ForestBlog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
